.title {
    color: #0d0d0d;
    font-family: "Museo Sans Cyrl";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 62px;
    padding-bottom: 53px;
    text-transform: uppercase;
    &_left {
        width: 780px;
        color: #fff;
        font-size: 36px;
        text-align: left;
        letter-spacing: 0.5px;
        padding: 0px;
        margin-bottom: 72px;

    }
    &_last {
        padding: 0px;
        margin-bottom: 70px;
    }
}